bin
hl*
mapbase*
platform
sdk*
source*

*.exe
*.jar
*.bat
*.lnk
!firegame.bat
!.gitignore

firegame/bin
firegame/cfg
firegame/maps
firegame/materials
firegame/models
firegame/pak

# ship not, it is external
**/*.vpk
**/*.fgd
**/*.tmp
**/*.cache
**/*.db
**/*.dt
# more nuts
!firegame/script
!**/*.nut