bin
hl*
mapbase*
platform
sdk*
source*

*.exe
*.jar
*.bat
!firegame.bat
!.gitignore

firegame/bin
firegame/cfg
firegame/maps
firegame/materials
firegame/models
firegame/pak

**/*.fgd
**/*.tmp
**/*.cache
**/*.db
**/*.dt
# more nuts
!firegame/script
!**/*.nut